
/* Dark Theme */
body.theme1 {
    background-color: #333;
    color: #fff;
}

/* Light Theme */
body.theme2 {
    background-color: #f5f5f5;
    color: #333;
}

/* Blue Theme */
body.theme3 {
    background-color: #cce6ff;
    color: #004080;
}

/* Different list styles */
ul.style1 {
    list-style-type: circle;
}

ul.style2 {
    list-style-type: square;
}

ul.style3 {
    list-style-type: none;
}

/* Styles for larger screens */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.preferences {
    padding: 20px;
    margin-top: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .preferences {
        padding: 10px;
    }
}

/* Media queries for smaller screens */
@media (max-width: 480px) {

}
